.hi{
    position: absolute;
    right: 112px;
}
h1{
    position: absolute;
    left: 500px;
}
.reporto{
    position: absolute;
    left: 930px;
}
.title{
    position: relative;
    text-align: center;
}
